*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    font-family: Acherus Grotestque,sans-serif;
    display: block;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    
}

.header1{
    height: 3.75rem;
    background-color: #fff;
} 

.navbar{
    height: 3.75rem;
   /* float: right; */
    --bs-navbar-hover-color: #944a9d;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-toggler {
    margin-left: auto;
}

.menu-left{
    background-color:#944a9d;
}

.navbar-toggler-menu{
    font-size: .9375rem;
    line-height: 1;
    color: #453c82;
}

.logo{
    background-color: white;
    height: 2.188rem;
    width: 2.188rem;
}

.hero{
    height: 36rem;
    background-color: #242433;
    background-image: url("images/spigot-icon-mini.svg");
    border-color: #944a9d;
    border-bottom-width: 5px;
}

.mt-5{
    margin-top: 8rem;
}
/* /* #hero-img{
    margin-top: 8rem;
} */
.hero-text{ 
    color: #fff;
    margin-top: 3.5rem;
}

.btn{
    background-color: #944a9d;
    outline:  #453c82;
}
.container p{
    font-size: 24px;
    line-height: 1.5;
}

#map {
    height: 6.428rem;
    width: 100%;
  }

footer {
    height: 5.188rem;
    margin: 0;
    color: #9d9daa;
    font-family: Acherus Grotestque,sans-serif;
    font-size: .7rem;
    padding: 0.75rem 1.5rem;
    background-color: #242433;
}
.credit {
    text-decoration: none;
    color: #9d9daa;
}